@use "sass:math";

.page {

    &__catalog {
    }
}
.catalog {
    padding: 150px 0 50px 0;

    &__container {
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__title {
        align-self: flex-start;
        @include adaptiv-value('margin-bottom', 45, 20, 1);
    }

    &__content {
        display: flex;
        flex-direction: column;
        @media (min-width: $md2+px){
            flex-direction: row;
        }
        

    }

    &__sidebar {
        
        @media (max-width: $md2+px){
            @include adaptiv-value('margin-bottom', 60, 30, 1);
        }
        @media (min-width: $md2+px){
            flex: 0 0 312px;
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

    &__analyze {
    }
}
.filter {

    &__form {
    }

    &__btn-count {
        min-width: 24px;
        min-height: 24px;
        border-radius: 50%;
        background-color: $blueColor;
        color: #fff;
        margin-right: 28px;
        transition: opacity 0.3s ease 0s;
        visibility: hidden;
        opacity: 0;
        &._active{
            visibility: visible;
            opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.filter-form {
    

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: $md2+px){
            align-items: center;
            flex-direction: row;
            margin-left: -16px;
        }
        @media (max-width: $md3+px){
            align-items: center;
            flex-direction: column;
        }
        
    }

    &__item {
        max-height: 50px;
        &:not(:last-child){
            margin-bottom: 15px;
        }
        @media (max-width: $md2+px){
            margin-left: 16px;
            width: calc(50% - 16px);
            max-width: calc(50% - 16px);
            flex-basis: calc(50% - 16px);
        }
        @media (max-width: $md3+px){
            margin-left: 16px;
            width: calc(100% - 16px);
            max-width: calc(100% - 16px);
            flex-basis: calc(100% - 16px);
        }
    }

    &__search{
        border: 1px solid $grayColor;
        
        background-color: #fff;
        color: $grayColor;
        font-size: 18px;
        padding: 0px 0px 0px 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::before{
            position: absolute;
            height: 20px;
            width: 20px;
        }
    }

    &__filter {
        max-height: 50px;
        cursor: pointer;
        border: 1px solid $grayColor;
        background-color: #fff;
        padding: 15px;
        font-size: 18px;
        position: relative;
        color: #000;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease 0s;
        &::before{
            position: absolute;
            font-size: 28px;
            color: $grayColor;
            margin-right: -10px;
            font-weight: 400;
        }        
        span{
            text-align: start;
        }
        @media (any-hover: hover){
            &:hover {
                border-color: $blueColor;
                color: $blueColor;
            }
        }
    }

    &__radio {

    }

    &__btn{
        flex: 0 0 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18;
        background-color: $blueColor;
        color: #fff;
        transition: background-color 0.3s ease 0s;
        margin: 0px 0px 0px 4px;
        @media (any-hover: hover){
            &:hover {
                background-color: $buttonHoverColor;
            }
        }
    }
}
.radio-double {
    display: flex;
    align-items: center;

    &__btn {
        flex: 1 1 auto;
        border: 1px solid $grayColor;
        background-color: #fff;
        color: #000;
        text-align: center;
        padding: 15px;
        transition: all 0.3s ease 0s;
        input{
            display: none;
        }
        &:first-child {
            margin-right: -1px;
        }
        // input:checked {
        //     color: $blueColor;
        //     border-color: $blueColor;
        // }
        @media (any-hover: hover){
            &:hover {
                color: $blueColor;
                border-color: $blueColor;
                cursor: pointer;
            }
        }
    }

    &__btn-label {
        font-size: 18px;
    }
}

.search-form-filter{
    &__btn {
        
    }

    &__input {
        color: $darkGrayColor;
        width:100%
    }
}

.analyze-section {
    flex: 1 1 100%;

    &__title {
        @include adaptiv-value("font-size", 40, 28, 1);
        color: #00b388;
        font-weight: 600;
        text-align: start;
    }

    &__items {

    }

    &__item {
        
    }

    &__paggination {
    }
}
.analyze-item {
    @include adaptiv-value('padding-top', 45, 20, 1);
    @include adaptiv-value('padding-bottom', 30, 15, 1);
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #d8d8d8;
    @media (max-width: $md2+px){
        flex-wrap: wrap;
    }

    &__title {
        @include adaptiv-value("font-size", 24, 18, 1);
        flex: 1 1 auto;
        font-weight: 700;
        line-height: 150%;
        color: #000;
        margin-bottom: 10px;
        padding-right: 15px;
        @include adaptiv-value('padding-bottom', 30, 10, 1);
        @media (max-width: $md2+px){
            flex: 0 0 100%;
        }
    }

    &__specs {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex: 0 0 auto;
        min-height: 40px;
        @media (min-width: $md4+px){
            flex: 0 0 192px;
        }
    }

    &__spec {
        flex-direction: column;
        justify-content: center;
        position: relative;
        flex: 0 0 80px;
        @media (min-width: $md3+px){
            align-items: center;
            display: flex;
        }
    }

    &__price {
        min-height: 40px;
        font-size: 18px;
        font-weight: 600;
        line-height: 120%;
        padding: 0 30px;
        white-space: nowrap;
        @media (max-width: $md2+px){
            margin-left: auto;
        }

    }

    &__buy {
        min-height: 48px;
        flex: 0 0 40px;
        border-radius: 50%;
        border: 1px solid $blueColor;
        color: $blueColor;
        font-size: 24px;
        align-self: self-end;
        transition: all 0.3s ease 0s;
        margin-top: -4px;
        @media (max-width: $md1+px){
            margin-right: 15px;
        }
        @media (any-hover: hover){
            &:hover{
                color: #fff;
                background-color: $blueColor;
                border-color: $blueColor;
            }
        }
    }
}
.analyze-spec {
    

    &__title {
        color: $grayColor;
        font-size: 14px;
        line-height: 120%; 
        min-height: 50px;
        position: absolute;
        @include adaptiv-value("margin-top", -24, -6, 1);
    }

    &__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        color: #000;
        padding: 10px 0;
    }
}

.paggination {
    flex: 0 0 100%;
    display: flex;
    @include adaptiv-value('padding-top', 30, 15, 1); 
    @include adaptiv-value('padding-bottom', 30, 15, 1);
    min-height: 50px;

    &__items {
        flex: 0 1 200px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        :last-child{
            margin-left: math.div(15, 20) * 1em;
        }
        :first-child{
            margin-right: math.div(15, 20) * 1em + math.div(10, 20) * 1em;
        }
    }

    &__arrow{
        width: 40px;
        height: 40px;
        border: 1px solid $blueColor;
        text-align: center;
        &._anactive{
            opacity: 0.7;
            pointer-events: none;
            color: $grayColor;
            border-color: $grayColor;
        }
        @media (max-width: $md2+px){
            width: 35px;
            height: 35px;
        }
        @media (max-width: $md3+px){
            width: 30px;
            height: 30px;
        }
    }

    &__page-number {
        @include adaptiv-value('font-size', 20, 16, 1);
        @media (min-width: $md3+px){
            margin-right: math.div(10, 20) * 1em;
        }
        margin-right: math.div(15, 20) * 1em;
        color: $darkGrayColor;
        font-weight: 400;
        line-height: 120%;
        &._active{
            color: $blueColor;
            font-weight: 600;
        }
    }
}




