@use "sass:math";

.page {

    &__stocks {
    }
}
.stocks {
    @include adaptiv-value("padding-top", 44 , 30, 1); 
    @include adaptiv-value("padding-bottom", 44 , 30, 1);

    &__container {
    }

    &__title {
    }

    &__slider {
    }
}
.slider-stocks {
    position: relative;

    &__body {
        @include adaptiv-value("margin-left", -32, -15, 1);
        @include adaptiv-value("margin-right", -32, -15, 1);
        @include adaptiv-value("padding", 32, 15, 1);

    }

    &__slide {
        display: flex;
        flex-direction: column;
        transition: box-shadow 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
            }
        }
    }

    &__image {
        padding-bottom: math.div(251, 391) * 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 15px;
        flex: 1 1 auto;
        align-items: flex-start;
    }

    &__title {
        flex: 1 1 auto;
        color: inherit;
        font-weight: 600;
        line-height: 120%;
        @include adaptiv-value("font-size", 24, 18, 1);
        transition: color 0.3s ease 0s;
        &:not(:last-child){
            margin-bottom: math.div(8, 24) *1em;
        }
        @media (any-hover: hover){
            &:hover{
                color: $blueColor;
            }
        }
    }

    &__text {
        color: $grayColor;
        line-height: 150%;
        font-size: 14px;
    }

    &__dotts {
        @include adaptiv-value("padding-top", 8, 0, 1);
        justify-content: center;
    }

    &__arrows {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        width: calc(100% - 48px);
        left: 24px;
        z-index: 5;
        justify-content: space-between;
        @media (min-width: $md1+px){
            width: calc(100% + 48px);
            left: -24px;
        }
        @media (max-width: $md3+px){
            display: none;
        }
    }
}
