._title-standart{
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #000;
}

.loading-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / 950));
    padding-top: calc(30px + 30 * ((100vw - 320px) / 950));
}

.cart-page {

    &__container {
        
    }

    &__content {
        display: flex;
        @media (max-width: 991.98px){
            flex-direction: column;
        }
    }
}

.cart-side {
    @media (max-width: 991.98px){
        border-top: 1px solid #d8d8d8;
        padding-top: 25px;
    }
    
    @media (min-width: 991.98px){
        max-width: 380px;
        margin-left: calc(0px + 40 * ((100vw - 320px) / 950));
        margin-right: calc(0px + 10 * ((100vw - 320px) / 950));
    }
    @media (min-width: 1282px){
        max-width: 430px;
    }

    &__container {
        padding-top: 15px;
        padding-bottom: 15px;
        @media (min-width: 991.98px){
            padding: 15px;
        }
    }
}

.cart-info {
    display: flex;
    flex-direction: column;

    &__cart-order-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media (min-width: 991.98px){
            padding: 15px 25px;
        }
    }

    &__info-block {
        margin: 10px 0;
    }
}
.info-block {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    @media (min-width: 991.98px){
        padding: 15px;
    }

    &__products-price {
        margin-bottom: 10px;
        border-bottom: 1px solid #d8d8d8;
    }

    &__products-price-title{
        padding: 10px 0;
    }

    &__propduct-price-item {

    }

    &__price-result {
        
    }
}
.propduct-price-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    &__title {
        display: inline-block;
        font-size: calc(14px + 2 * ((100vw - 320px) / 950));
        font-weight: 500;
        color: #898989;
        line-height: 120%;
        margin-right: 15px;
    }

    &__price {
        display: inline-block;
        min-width: 80px;
        text-align: end;
        font-size: calc(16px + 2 * ((100vw - 320px) / 950));
    }
}
.price-result {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    &__text {
        font-size: calc(18px + 2 * ((100vw - 320px) / 950));
    }

    &__result {
        color: #0FC0FC;
        font-size: calc(22px + 4 * ((100vw - 320px) / 950));
        font-weight: 700;
        line-height: 150%;
    }
}



.cart-items div:last-child {
    border-bottom: none;
}

.empty-cart {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 15px;

    &__left-part {
    }

    &__right-part {
    }

    @media (max-width: 479.98px){
        justify-content: space-between;
        padding: 0 0 50px 0;
    }
}
.left-part {

    flex: 1 1 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    div{
        margin-bottom: 25px;
    }
    h3{
        margin-bottom: 15px;
    }

    &__title {
        font-size: 30px;
        color: #00b388;
        padding-left: 15px;
    }

    &__text {
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        color: #898989;
        padding-left: 15px;
    }

    &__button {
        width: 300px;
        text-align: center;
        background-color: #0FC0FC;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        border-radius: 30px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    @media (max-width:  767.98px){
        max-width: 300px;

        div{
            margin-bottom: 15px;
        }
        h3{
            margin-bottom: 10px;
        }
        &__title {
            font-size: 24px;
        }
        &__text {
            font-size: 16px;
        }
        &__button {
            font-size: 14px;
            width: 250px;
        }
    }

    @media (max-width: 479.98px){
        padding-right: 25px;
        div{
            margin-bottom: 10px;
        }
        h3{
            margin-bottom: 5px;
        }
        &__title {
            font-size: 18px;
            padding-left: 0;
        }
        &__text {
            font-size: 14px;
            padding-left: 0;
        }
        &__button {
            font-size: 12px;
            width: 180px;
            min-height: 36px;
        }
    }
}

.right-part {

    flex: 0 0 200px;
    display: flex;
    justify-content: center;

    &__cart-icon {
        font-size: 80px;
        color: #0FC0FC;
    }

    @media (max-width: 767.98px){
        flex: 0 0 60px;
        &__cart-icon {
            font-size: 60px;
        }
    }

    @media (max-width: 479.98px){
        flex: 0 0 48px;
        &__cart-icon {
            font-size: 48px;
        }
    }
}
